{
  "presets": [
    [
      "env"
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx", 
      "babel-plugin-root-import",
      "transform-inline-environment-variables",
      {
        "include": [ "NODE_ENV" ]
      }
    ]
  ]
}
