@import './colors.css';
@import './fonts.css';

/* global */
$x-small-font: 12px;
$small-font: 16px;
$medium-font: 24px;
$large-font: 36px;
$medium-text-spacing: 20px;
$large-text-spacing: 40px;
$h1-size: $large-font;
$h3-size-desktop: $large-font;
$p-size-mobile: $small-font;
$album-font-size: $medium-font;
$player-button-size: x-small-font;

/* header font */
$h1-font: 'Roboto Light';

/* card font */
$card-header-font: 'Roboto Bold';

/* hc-banner typography */
$banner-font: Palatino;
$banner-color: $white;
$banner-bg-color: $dark-grey;
$banner-text-padding: $large-text-spacing 0;

/* hc-nav typography */
$hc-nav-font: 'Roboto Light';
$hc-nav-color: $very-light-grey;
$hc-nav-font-size: $medium-font;
$hc-nav-text-padding: $medium-text-spacing 0;

/* content-box typography */
$content-box-font: 'Roboto';
$content-box-text-padding: $medium-text-spacing;

/* song typography */
$song-bg-color: $grey;
$album-bg-color: $light-grey;
$song-controller-font-size: $x-small-font;
$song-text-padding: $medium-text-spacing;

