/* normalize */
@import 'normalize.css';
h1, h3, ul {
  margin: 0;
}

/* placeholder CSS */

/* colors */
$dark-grey: #434343;
$grey: #999999;
$light-grey: #b7b7b7;
$white: #FFFFFF;

/* typography */
$small-font: 16px;
$medium-font: 32px;
$large-font: 56px;
$h1-size-mobile: $large-font;
$h3-size-mobile: $medium-font;
$p-size-mobile: $small-font;
$song-player-font-size: $medium-font;
$nav-menu-font-size: $medium-font;

/* template */
$song-bg-color: $grey;
$song-player-bg-color: $light-grey;

:global {

  .content-box {
    width: 90%;
    padding: 1% 10px;
  }

  .banner {
    background-color: $dark-grey;
    color: $white;
    h1 {
      font-size: $h1-size-mobile;
      text-align: center;
      padding: 1% 0;
    }
  }

  .hc-nav {
    font-size: $nav-menu-font-size;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      a {
        margin: 0 1%;
        text-decoration: none;
      }
    }
  }

  .hc-hero {
    height: 250px;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
  }

  .song-player {
    font-size: $song-player-font-size;
    background-color: $song-player-bg-color;
    margin: 0 auto;
  }

  .song {
    cursor: pointer;
    background-color: $song-bg-color;
    display: flex;
    align-items: center;

    .song-controller {
      padding: 0 1%;
      flex: 1;
    }
  }

  .song-img-placeholder {
    background-color: $dark-grey;
    color: $white;
    width: 100px;
    height: 100px;
  }
}
