/* normalize */
@import 'normalize.css';
h1, h3, ul, p, figure {
  margin: 0;
  padding: 0;
}

/* placeholder CSS */

/* colors */
$dark-grey: #434343;
$grey: #999999;
$light-grey: #b7b7b7;
$white: #FFFFFF;

/* typography */
$small-font: 48px;
$medium-font: 52px;
$large-font: 76px;
$medium-text-spacing: 20px;
$large-text-spacing: 40px;
$h1-size: $large-font;
$h3-size-mobile: $medium-font;
$p-size-mobile: $small-font;
$album-font-size: $medium-font;
$player-button-size: calc($large-font * 2);

/* hc-banner typography */
$banner-font: Palatino;
$banner-color: $white;
$banner-bg-color: $dark-grey;
$banner-text-padding: $large-text-spacing 0;

/* hc-nav typography */
$hc-nav-font: Verdana;
$hc-nav-color: $dark-grey;
$hc-nav-font-size: $medium-font;
$hc-nav-text-padding: $medium-text-spacing 0;

/* content-box typography */
$content-box-font: Verdana;
$content-box-text-padding: $medium-text-spacing;

/* song typography */
$song-bg-color: $grey;
$album-bg-color: $light-grey;
$song-controller-font-size: $small-font;
$song-text-padding: $medium-text-spacing;
/* placeholders */

:global {

  h1 {
    font-size: $h1-size;
    text-align: center;
    padding: 1% 0;
  }

  .content-box {
    padding: $content-box-text-padding;
    font-family: $content-box-font;
    & > h3 {
      text-align: center;
    }
    h3 {
      font-weight: 100;
    }
  }

  .banner {
    font-family: $banner-font;
    background-color: $banner-bg-color;
    color: $banner-color;
    padding: $banner-text-padding;
  }

  .hc-nav {
    font-family: $hc-nav-font;
    font-size: $hc-nav-font-size;
    color: $hc-nav-color;
    padding: $hc-nav-text-padding;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .hc-hero {
    height: 250px;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
  }

  .song-player {
    margin: 1em 40px;
    font-size: calc($medium-font * 1.2);
  }

  .progress-bar {
    .button-bar {
      text-align: center;
      svg {
        width: $player-button-size;
        height: $player-button-size;
      }
      li {
        display: inline-block;
        margin: 0 5%;
      }
    }
  }

  .album {
    font-size: $album-font-size;
    background-color: $album-bg-color;
    margin: 0 auto;
  }

  .song {
    cursor: pointer;
    background-color: $song-bg-color;
    font-size: $song-controller-font-size;
    padding: $song-text-padding;
    margin: 1em 40px;

    &.selected {
      background-color: $white;
    }

    .song-controller {
      h3 {
        font-size: $song-controller-font-size;
      }
    }
  }

  .song-img-placeholder {
    background-color: $dark-grey;
    color: $white;
    width: 100px;
    height: 100px;
  }
}
