.player-container {
    margin-right: 20px;
}

.album-preview-carousel {
    overflow: hidden;
    .carousel-btn-wrap {
      display: flex;
      justify-content: space-between;
      p {
        font-size: $x-small-font;
      }
    }
    .carousel-wrap {
      display: flex;
      justify-content: space-around;
      list-style: none;
      transition: transform 1s;
      .album-preview {
        background-color: $light-grey;
        border: 1px solid;
        margin: 15px 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $small-font;
        &.invisible {
          visibility: hidden;
        }
      }
    }
  }

  .song-player {
    margin: 1em 40px;
    font-size: $x-small-font;
  }

  .progress-bar {
    .button-bar {
      text-align: center;
      svg {
        width: $player-button-size;
        height: $player-button-size;
      }
      li {
        display: inline-block;
        margin: 0 5%;
      }
    }
  }

  .album {
    font-size: $album-font-size;
    background-color: $album-bg-color;
    margin: 0 auto;
  }

  .song {
    cursor: pointer;
    background-color: $song-bg-color;
    font-size: $song-controller-font-size;
    padding: $song-text-padding;
    margin: 1em 40px;

    &.selected {
      background-color: $white;
    }

    .song-controller {
      h3 {
        font-size: $song-controller-font-size;
      }
    }
  }

  .song-img-placeholder {
    background-color: $dark-grey;
    color: $white;
    width: 100px;
    height: 100px;
  }