.player-container {
    margin-right: 20px;
}

.song-player {
  flex: 2;
  margin: 1em 40px;
  .now-playing {
    text-align: center;
    font-size: $small-font;
    .song-time {
      font-size: $medium-font;
    }
  }
}

.progress-bar {
  border-radius: 5px;
  padding: 6%;
  .button-bar {
    display: flex;
    justify-content: space-around;
    .fa {
      color: $very-light-grey;
    }
  }
}

.album {
  font-size: $album-font-size;
  background-color: $album-bg-color;
  margin: 0 auto;
}

.song {
  cursor: pointer;
  background-color: $song-bg-color;
  font-size: $song-controller-font-size;
  padding: $song-text-padding;
  margin: 1em 40px;

  &.selected {
    background-color: $white;
  }

  .song-controller {
    h3 {
      font-size: $song-controller-font-size;
    }
  }
}

.song-img-placeholder {
  background-color: $dark-grey;
  color: $white;
  width: 100px;
  height: 100px;
}